n8n-attach-estimate-po-workflow.json
{
	"name": "Attach PO to Project via Estimate",
	"nodes": [
		{
			"parameters": {
				"httpMethod": "POST",
				"path": "estimate-po-webhook",
				"responseMode": "responseNode",
				"options": {}
			},
			"id": "webhook-trigger",
			"name": "Webhook Trigger",
			"type": "n8n-nodes-base.webhook",
			"typeVersion": 1,
			"position": [
				250,
				300
			],
			"webhookId": "estimate-po-webhook"
		},
		{
			"parameters": {
				"resource": "chat",
				"operation": "message",
				"modelId": "gpt-4",
				"messages": {
					"values": [
						{
							"role": "system",
							"content": "You are a helpful assistant that validates estimates and attaches purchase orders to projects. Use the attach_estimate_po tool to process requests."
						},
						{
							"role": "user",
							"content": "=Please check estimate {{ $json.body.estimate_id }} and attach PO number {{ $json.body.po_number }} to the associated project.{{ $json.body.provisional ? ' This is a provisional PO.' : '' }}"
						}
					]
				},
				"options": {
					"tools": [
						{
							"type": "function",
							"function": {
								"name": "attach_estimate_po",
								"description": "Check if an estimate has amounts and PO number, then attach the PO to the associated project",
								"parameters": {
									"type": "object",
									"properties": {
										"estimate_id": {
											"type": "integer",
											"description": "The ID of the estimate to check"
										},
										"po_number": {
											"type": "string",
											"description": "The purchase order number to attach"
										},
										"po_document": {
											"type": "string",
											"description": "Optional: Path or URL to the PO document file"
										},
										"provisional": {
											"type": "boolean",
											"description": "Optional: Whether this is a provisional PO (defaults to false)"
										}
									},
									"required": [
										"estimate_id",
										"po_number"
									]
								}
							}
						}
					],
					"toolChoice": "auto"
				}
			},
			"id": "openai-agent",
			"name": "OpenAI Agent",
			"type": "@n8n/n8n-nodes-langchain.openAi",
			"typeVersion": 1,
			"position": [
				450,
				300
			]
		},
		{
			"parameters": {
				"functionCode": "// Execute the tool call\nconst toolCalls = $input.item.json.choices[0].message.tool_calls;\n\nif (!toolCalls || toolCalls.length === 0) {\n  return { json: { error: 'No tool calls made by AI' } };\n}\n\nconst toolCall = toolCalls[0];\nconst functionArgs = JSON.parse(toolCall.function.arguments);\n\nreturn {\n  json: {\n    tool: 'attach_estimate_po',\n    parameters: functionArgs\n  }\n};"
			},
			"id": "extract-tool-call",
			"name": "Extract Tool Call",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [
				650,
				300
			]
		},
		{
			"parameters": {
				"method": "POST",
				"url": "={{ $env.AURA_MCP_URL || 'https://your-domain.com' }}/mcp/tools/call",
				"authentication": "none",
				"sendHeaders": true,
				"headerParameters": {
					"parameters": [
						{
							"name": "Content-Type",
							"value": "application/json"
						}
					]
				},
				"sendBody": true,
				"bodyParameters": {
					"parameters": []
				},
				"specifyBody": "json",
				"jsonBody": "={{ JSON.stringify($json) }}",
				"options": {}
			},
			"id": "call-mcp-tool",
			"name": "Call MCP Tool",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.1,
			"position": [
				850,
				300
			]
		},
		{
			"parameters": {
				"conditions": {
					"string": [
						{
							"value1": "={{ $json.success }}",
							"operation": "equals",
							"value2": "true"
						}
					]
				}
			},
			"id": "check-success",
			"name": "Check Success",
			"type": "n8n-nodes-base.if",
			"typeVersion": 1,
			"position": [
				1050,
				300
			]
		},
		{
			"parameters": {
				"respondWith": "json",
				"responseBody": "={{ JSON.stringify({\n  status: 'success',\n  message: 'PO successfully attached to project',\n  data: $json\n}) }}"
			},
			"id": "success-response",
			"name": "Success Response",
			"type": "n8n-nodes-base.respondToWebhook",
			"typeVersion": 1,
			"position": [
				1250,
				200
			]
		},
		{
			"parameters": {
				"respondWith": "json",
				"responseBody": "={{ JSON.stringify({\n  status: 'error',\n  message: $json.error || 'Failed to attach PO',\n  data: $json\n}) }}",
				"options": {
					"responseCode": 400
				}
			},
			"id": "error-response",
			"name": "Error Response",
			"type": "n8n-nodes-base.respondToWebhook",
			"typeVersion": 1,
			"position": [
				1250,
				400
			]
		},
		{
			"parameters": {
				"functionCode": "// Optional: Send notification via Slack, email, or other channel\nconst result = $input.item.json;\n\nreturn {\n  json: {\n    notification: {\n      title: 'PO Attached Successfully',\n      project: result.project.name,\n      po_number: result.project.po_number,\n      estimate_amount: result.estimate.amount,\n      client: result.estimate.client\n    }\n  }\n};"
			},
			"id": "prepare-notification",
			"name": "Prepare Notification",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [
				1450,
				200
			],
			"disabled": true
		}
	],
	"connections": {
		"Webhook Trigger": {
			"main": [
				[
					{
						"node": "OpenAI Agent",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"OpenAI Agent": {
			"main": [
				[
					{
						"node": "Extract Tool Call",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Extract Tool Call": {
			"main": [
				[
					{
						"node": "Call MCP Tool",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Call MCP Tool": {
			"main": [
				[
					{
						"node": "Check Success",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Check Success": {
			"main": [
				[
					{
						"node": "Success Response",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Error Response",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Success Response": {
			"main": [
				[
					{
						"node": "Prepare Notification",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"settings": {
		"executionOrder": "v1"
	},
	"staticData": null,
	"tags": [],
	"triggerCount": 0,
	"updatedAt": "2026-04-06T00:00:00.000Z",
	"versionId": "1"
}